In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving train loan.csv to train loan.csv
User uploaded file "train loan.csv" with length 21957 bytes

In [ ]:
import pandas as pd 
df=pd.read_csv('train loan.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

# Droping attribute
We can drop unnessary colum/Attribute using drop()

dataset.drop('Attribute name')

In [ ]:
df = df.drop(['Loan_ID'], axis = 1)

In [ ]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

# Fixing null value
we can cheack null value using isnull()

dataset.isnull()
 
 *or
dataset.isnull().any()
 
 *or
dataset.isnull().sum()

In [ ]:
df.isnull()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
362,False,False,False,False,False,False,False,False,False,False,False
363,False,False,False,False,False,False,False,False,False,False,False
364,False,False,False,False,False,False,False,False,False,True,False
365,False,False,False,False,False,False,False,False,False,False,False
366,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [ ]:
df.isnull().any()

Gender                True
Married              False
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
dtype: bool

# we can fix null value by ,
1.droping null value

2.fill with mean value

3.fill with median value

4.fill with mode

.

.

.

For mean:

dataset.fillna().mean()

For mode:

dataset.fillna().mode()

For median:

dataset.fillna().median()

If we want to drop,

dataset.dropna()

In [ ]:
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)
df['Married'].fillna(df['Married'].mode()[0],inplace=True)
df['Dependents'].fillna(df['Dependents'].mode()[0],inplace=True)
df['Self_Employed'].fillna(df['Self_Employed'].mode()[0],inplace=True)
df['Credit_History'].fillna(df['Credit_History'].mode()[0],inplace=True)
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0],inplace=True)

In [ ]:
df['LoanAmount'].fillna(df['LoanAmount'].mean(),inplace=True)

# Encoding
1.Label Encoding:Label Encoding refers to converting the labels into a numeric form so as to convert them into the machine-readable form.

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df[['Dependents']]=df[['Dependents']].apply(LabelEncoder().fit_transform)

 .One hot Encoding : One hot encoding is one method of converting data to prepare it for an algorithm and get a better prediction. With one-hot, we convert each categorical value into a new categorical column and assign a binary value of 1 or 0 to those columns. Each integer value is represented as a binary vector. All the values are zero, and the index is marked with a 1.

 For Encoding,

dataset=pd.get_dummies(dataset)

In [ ]:
df=pd.get_dummies(df)

In [ ]:
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,5720,0,110.0,360.0,1.0,0,1,0,1,1,0,1,0,0,0,1
1,1,3076,1500,126.0,360.0,1.0,0,1,0,1,1,0,1,0,0,0,1
2,2,5000,1800,208.0,360.0,1.0,0,1,0,1,1,0,1,0,0,0,1
3,2,2340,2546,100.0,360.0,1.0,0,1,0,1,1,0,1,0,0,0,1
4,0,3276,0,78.0,360.0,1.0,0,1,1,0,0,1,1,0,0,0,1

In [ ]:
# Drop columns
df = df.drop(['Gender_Female', 'Married_No', 'Education_Not Graduate', 
              'Self_Employed_No'], axis = 1)

# Rename columns name
new = {'Gender_Male': 'Gender', 'Married_Yes': 'Married', 
       'Education_Graduate': 'Education', 'Self_Employed_Yes': 'Self_Employed',
       'Loan_Status_Y': 'Loan_Status'}
       
df.rename(columns=new, inplace=True)

In [ ]:
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender,Married,Education,Self_Employed,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,5720,0,110.0,360.0,1.0,1,1,1,0,0,0,1
1,1,3076,1500,126.0,360.0,1.0,1,1,1,0,0,0,1
2,2,5000,1800,208.0,360.0,1.0,1,1,1,0,0,0,1
3,2,2340,2546,100.0,360.0,1.0,1,1,1,0,0,0,1
4,0,3276,0,78.0,360.0,1.0,1,0,0,0,0,0,1

# Splite target attribute
we can use iloc from DataFrame.

F=pd.DataFrame(dataset.iloc[:,:-1])

L=pd.DataFrame(dataset.iloc[:,n])

another process,

X = dataset.drop(["target_attribute"], axis=1)

y = dataset["target_attribute"]

In [25]:
F=pd.DataFrame(df.iloc[:,:-1])
L=pd.DataFrame(df.iloc[:,11])

In [26]:
F.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender,Married,Education,Self_Employed,Property_Area_Rural,Property_Area_Semiurban
0,0,5720,0,110.0,360.0,1.0,1,1,1,0,0,0
1,1,3076,1500,126.0,360.0,1.0,1,1,1,0,0,0
2,2,5000,1800,208.0,360.0,1.0,1,1,1,0,0,0
3,2,2340,2546,100.0,360.0,1.0,1,1,1,0,0,0
4,0,3276,0,78.0,360.0,1.0,1,0,0,0,0,0

In [27]:
L.head()

   Property_Area_Semiurban
0                        0
1                        0
2                        0
3                        0
4                        0

In [28]:
#another Process

X = df.drop(["Self_Employed"], axis=1)
y = df["Self_Employed"]

In [29]:
X.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender,Married,Education,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,5720,0,110.0,360.0,1.0,1,1,1,0,0,1
1,1,3076,1500,126.0,360.0,1.0,1,1,1,0,0,1
2,2,5000,1800,208.0,360.0,1.0,1,1,1,0,0,1
3,2,2340,2546,100.0,360.0,1.0,1,1,1,0,0,1
4,0,3276,0,78.0,360.0,1.0,1,0,0,0,0,1

In [30]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Self_Employed, dtype: uint8

In [31]:
#Feature scaling
from sklearn.preprocessing import MinMaxScaler
X = MinMaxScaler().fit_transform(X)